<div class="User">
  <h1> <%= @user.username %> </h1>

  <h2>Bio</h2>
  <% if current_user && current_user.id == @user.id %>
    <%= form_for @user, url: { action: "update" }, method: :patch do |f| %>
      <div class="field">
        <%= f.text_area :bio, value: @user.bio %>
      </div>
      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>
  <% else %>
    <p><%= @user.bio %></p>
  <% end %>

  <h2><%= @user.username %>'s Adventures</h2>

  <h2>Created Adventures:</h2>
  <ul>
    <% @owned_adventures.each do |adventure|%>
      <li> <%= adventure.name %>
    <% end %>
  </ul>

  <% past_attendances = [] %>
  <% upcoming_attendances = [] %>
  <% @attended_adventures.each do |attendance|%>
    <% if attendance.adventure.date >= Date.today %>
      <% upcoming_attendances << attendance %>
    <% else %>
      <% past_attendances << attendance %>
    <% end %>
  <% end %>

  <h2>Upcoming Adventures:</h2>
  <ul>
    <% upcoming_attendances.each do |attendance|%>
      <li> <%= attendance.adventure.name %> on <%= attendance.adventure.date %>, character: <%= attendance.character.name %>
    <% end %>
  </ul>

  <h2>Past Adventures:</h2>
  <ul>
    <% past_attendances.each do |attendance|%>
      <li> <%= attendance.adventure.name %> on <% attendance.adventure.date %>, character: <%= attendance.character.name %>
    <% end %>
  </ul>

  <h2><%= @user.username %>'s Characters
  <% if current_user && current_user.id == @user.id %>
    <%= link_to "(New Character)", new_character_path %>
  <% end %></h2>
  <ul>
    <% @characters.each do |character|%>
      <li> <%= link_to character.name, character_path(character) %>: A level <%= character.level %> <%= character.gender %> <%= character.race %> <%= character.character_class %> (<%= character.ruleset %>)
      <% if character == @active_character %>
        <br>[active]
      <% else %>
        <br><%= link_to "[set active]", set_active_character_path(character), method: :patch, data: { turbo_method: :patch } %>
      <% end %> 
      <% if current_user && current_user.id == @user.id %>
        - <%= link_to "[edit]", edit_character_path(character) %>
      <% end %>
      </li>
    <% end %>
  </ul>

  <% if current_user && current_user.id == @user.id %>
    <%= link_to 'DELETE ACCOUNT', registration_path(current_user), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete your account?' } %>
  <% end %>

</div>