<div class="User">
  <h1>Your Adventures</h1>

  <h2>Created Adventures:</h2>
  <ul>
    <% @owned_adventures.each do |adventure|%>
      <li> <%= adventure.name %>
    <% end %>
  </ul>

  <% past_attendances = [] %>
  <% upcoming_attendances = [] %>
  <% @attended_adventures.each do |attendance|%>
    <% if attendance.adventure.date >= Date.today %>
      <% upcoming_attendances << attendance %>
    <% else %>
      <% past_attendances << attendance %>
    <% end %>
  <% end %>

  <h2>Your Upcoming Adventures:</h2>
  <ul>
    <% upcoming_attendances.each do |attendance|%>
      <li> <%= attendance.adventure.name %> on <%= attendance.adventure.date %>, character: <%= attendance.character.name %>
    <% end %>
  </ul>

  <h2>Your Past Adventures:</h2>
  <ul>
    <% past_attendances.each do |attendance|%>
      <li> <%= attendance.adventure.name %> on <% attendance.adventure.date %>, character: <%= attendance.character.name %>
    <% end %>
  </ul>
</div>