<div class="user user-forgot-pw user-devise">
  <div class="main-title">Forgot Your Password?</div>

  <div class="ridge-border">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="form-item">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <%= f.submit "Reset password", class: "btn small-btn" %>
    <% end %>
  </div>

  <div class="devise-actions">
    <%= button_to "SIGN UP", new_user_registration_path, method: :get, class: "btn smaller-btn" %>
    <%= button_to "SIGN IN", new_user_session_path, method: :get, class: "btn smaller-btn" %>
  </div>

  <%= render "devise/shared/error_messages", resource: resource %>
</div>
