<%= javascript_import_module_tag "custom/adventure_form" %>

<%= form_for @adventure do |f| %>
  <div class="form-controls">
    <div class="form-item">
      <%= f.label :date %>
      <%= f.datetime_local_field :date, class: 'form-control' %>
    </div>

    <div class="form-item">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', maxlength: 40 %>
    </div>

    <div class="form-item">
      <%= f.label :ruleset %>
      <%= f.select :ruleset, Adventure.rulesets.keys, {}, class: 'form-control' %>
    </div>

    <div class="form-item">
      <%= f.label :module %>
      <%= f.text_field :module, class: 'form-control', maxlength: 40 %>
    </div>

    <div class="form-item">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control description', maxlength: 500 %>
    </div>

    <div class="form-item">
      <%= f.label :platform %>
      <%= f.select :platform, Adventure.platforms.keys, {}, class: 'form-control' %>
    </div>

    <div class="form-item">
      <%= f.label :max_seats %>
      <%= f.number_field :max_seats, in: 1..10, class: 'form-control' %>
    </div>

    <div class="form-item">
      <%= f.label :min_age %>
      <%= f.number_field :min_age, in: 0..99, class: 'form-control' %>
    </div>

    <div class="form-item">
      <%= f.label "Level: " %>
      <%= f.number_field :min_level, in: 0..99, class: 'form-control' %>
      to
      <%= f.number_field :max_level, in: 1..99, class: 'form-control' %>
    </div>

    <div class="form-item">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>

    <div class="form-item">
      <%= f.label :is_private %>
      <%= f.check_box :is_private, class: 'form-check-input' %>
    </div>
  </div>

  <div class="form-item">
    <% button_text = mode == 'new' ? 'Create Adventure' : 'Update Adventure' %>
    <%= f.submit button_text, class: 'btn small-btn' %>
  </div>
<% end %>

<% if @adventure.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@adventure.errors.count, "error") %> prohibited this adventure from being saved:</h2>
    <ul>
      <% @adventure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>