<div class="adventure adventure-index">
  <%= form_tag(adventures_path, method: 'get', class: 'filter-form') do %>
    <div class="filters">
      <div class="form-item">
        <%= label_tag :time, "Time:" %>
        <%= select_tag 'time', options_for_select([['All', nil], ['Upcoming', 'upcoming'], ['Past', 'past']], params[:time]), class: 'form-control' %>
      </div>

      <div class="form-item">
        <%= label_tag :vacancy, "Vacancy:" %>
        <%= select_tag 'vacancy', options_for_select([['All', nil], ['Open', 'open']], params[:vacancy]), class: 'form-control' %>
      </div>

      <div class="form-item">
        <%= label_tag :ruleset, "Ruleset:" %>
        <%= select_tag 'ruleset', options_for_select([['All', 'all'], ['Active-char', 'active_character']] + Adventure.rulesets.map { |k, v| [k.humanize, v] }, params[:ruleset]), class: 'form-control' %>
      </div>

      <div class="form-item">
        <%= label_tag :platform, "Platform:" %>
        <%= select_tag 'platform', options_for_select([['All', nil], ['In-Person', 'in_person'], ['Virtual', 'virtual']], params[:platform]), class: 'form-control' %>
      </div>

      <div class="form-item">
        <%= label_tag :min_level, "Min Level:" %>
        <%= number_field_tag 'min_level', params[:min_level], class: 'form-control form-lvl', placeholder: '0', min: 0, max: 99 %>
      </div>
      <div class="form-item">  
        <%= label_tag :max_level, "Max Level:" %>
        <%= number_field_tag 'max_level', params[:max_level], class: 'form-control form-lvl', placeholder: '99', min: 0, max: 99 %>
      </div>
    </div>

    <div class="form-buttons">
      <%= button_tag 'Apply Filters', type: :submit, value: 'default', class: 'btn small-btn', name: 'filter' %>
      <% if current_user && current_user.active_character.present? %>
        <%= button_tag 'Match Active', type: :submit, value: 'match', class: 'btn small-btn', name: 'filter' %>
      <% end %>
    </div>
  <% end %>
  <div class="content">
    <div class="button-container">
      <% if current_user %>
        <%= button_to "NEW ADVENTURE", new_adventure_path, method: :get, class: 'btn' %>
      <% end %>
    </div>
    <div class="adventure-content">
      <div class="adventure-list-title">Adventure List</div>
      <div class="adventure-list">
        <% @adventures.each do |adventure|%>
          <%= render 'entry', adventure: adventure, attended_adventures: @attended_adventures, mode: 'full', rs_img: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>