<div class="Adventure">
  <%= link_to "Create Adventure", new_adventure_path %>
  <% if user_signed_in? %>
    <%= link_to "User Page", user_path(current_user) %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to sign out?' } %>
  <% else %>
    <%= link_to "Sign in/New user", new_user_session_path %>
  <% end %>

  <h1>Upcoming Adventure</h1>

  <ul>
    <% @upcoming_adventures.each do |adventure|%>
      <li> <%= link_to adventure.name, adventure_path(adventure) %>
    <% end %>
  </ul>

  <h1>Past Adventure</h1>

  <ul>
    <% @past_adventures.each do |adventure|%>
      <li> <%= link_to adventure.name, adventure_path(adventure) %>
    <% end %>
  </ul>
</div>

