<div class="adventure-intro">
  <div class="text-intro">
    <h1>Welcome to the TableTop Tavern</h1>
    <p>Discover exciting adventures and create memorable stories with fellow travelers.</p>
  </div>

  <div class="middle-content">
    <div class="left">
      <%= image_tag "tavernkeeper.jpeg", size: "450x450", alt: "Tavernkeeper Image", class: "innkeeper" %>
    </div>

    <div class="upcoming-adventures">
      <h2>Upcoming Adventures</h2>
      <ul>
        <% @adventures.each do |adventure| %>
          <li>
              <h4><%= link_to adventure.name, adventure_path(adventure) %></h4>
              <p>Date: <%= adventure.date %></p>
              <p>Ruleset: <%= adventure.ruleset %></p>
              <p>For levels: <%= adventure.min_level %> to <%= adventure.max_level %></p>
              <p>Hosted by <%= adventure.creator.username %> <% if Adventure.platforms[adventure.platform] > 2 %>virtually<% else %>in-person<% end %></p>              
          </li>
        <% end %>
          <li> <h4><%= link_to "Find more!", adventures_path %></h4>
      </ul>
    </div>
  </div>
</div>
