<div class="Adventures">
  <h1>Create a New Adventure</h1>

  <%= form_for @adventure do |f| %>
    <div class="form-group">
      <%= f.label :name, class: 'form-label' %>
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :date, class: 'form-label' %>
      <%= f.date_field :date, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :event_type, class: 'form-label' %>
      <%= f.select :event_type, Adventure.event_types.keys, {}, class: 'form-control', required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Create Adventure", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>