<% creator_mode = false %>
<% if (current_user && @adventure.creator.id == current_user.id) %>
  <% creator_mode = true %>
<% end %>

<div class="adventure adventure-show">
  <div class="main-title"><%= @adventure.name %></div>
  <div class="content">
    <div class="main-details ridge-border">
      <%= render 'shared/ruleset_image', image_size: "200x100", adventure: @adventure %>
      <div class="main-hosted">Hosted by: <%= link_to @adventure.creator.username, user_path(@adventure.creator) %> </div>
    </div>
    <div class="secondary-details">
      <% if !@adventure.is_private || creator_mode %>
        <div class="details ridge-border">
          <div class="time">Occurring on <%= formatted_date(@adventure.date) %></div>
          <br>
          <% if !@adventure.module.nil? && @adventure.module != "" %>
            <div class="detail"><span class="label"><b>Module:</b></span> <%= @adventure.module %> </div>
          <% end %>
          <div class="detail"><span class="label"><b>Platform:</b></span> <%= @adventure.platform %> </div>
          <% if @adventure.platform == "InPersonPublic" || creator_mode %>
            <div class="detail"><span class="label"><b>Address:</b></span> <%= @adventure.address %> <% if creator_mode && @adventure.platform == "InPersonHome" %>(Not public)<% end %></div>
          <% end %>
          <div class="detail"><span class="label"><b>Level:</b></span> <%= @adventure.min_level%> to <%= @adventure.max_level %></div>
          <div class="detail"><span class="label"><b>Minimum Age:</b></span> <%= @adventure.min_age %></div>
          <br>
          <div class="description"><%= @adventure.description %></div>
        </div>
        
        <div class="attendees-details ridge-border">
          <div class="attendees-title">Attendees (<%= @adventure.attendees.count %> / <%= @adventure.max_seats %>)</div>
          <div class="attendees">
            <% @adventure.attendees.each do |attendee| %>
              <%= render 'shared/character_entry', character: attendee, is_active_char: false, creator_mode: creator_mode, img_size: "80x80" %>
            <% end %>
          </div>
        </div>

        <div class="actions">
          <% attending = !@attended_adventures.nil? && @attended_adventures.exists?(@adventure.id) %>
          <% if current_user && !creator_mode && (attending || (!current_user.active_character.nil? && 
                current_user.active_character.level >= @adventure.min_level && 
                current_user.active_character.level <= @adventure.max_level && 
                current_user.birthdate + @adventure.min_age.years < Time.now && 
                @adventure.attendees.count < @adventure.max_seats)) %>
            <%= form_for @adventure, url: attend_adventure_path(@adventure), method: :post, remote: true do |f| %>
              <% attend_text = attending ? 'Unattend Adventure' : 'Attend Adventure' %>
              <%= f.submit attend_text, class: 'btn small-btn' %>
            <% end %>
            <% if flash[:alert] %><div class="flash alert"><%= flash[:alert] %></div><% end %>
          <% elsif creator_mode %>
            <%= form_for @adventure, url: adventure_path(@adventure), method: :patch do |f| %>
              <% if @adventure.is_private %>
                <%= f.hidden_field :is_private, value: false %>
                <%= f.submit 'Make Public', class: 'btn small-btn' %>
              <% else %>
                <%= f.hidden_field :is_private, value: true %>
                <%= f.submit 'Make Private', class: 'btn small-btn' %>
              <% end %>
            <% end %>
            <%= button_to "Edit", edit_adventure_path(@adventure), class: 'btn small-btn', method: :get %>
            <%= button_to "Delete", adventure_path(@adventure), class: 'btn small-btn', method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this adventure?' } %>
          <% end %>
        </div>

      <% else %>
        <div class="details">Adventure is currently marked private</div>
      <% end %>
    </div>
    <% if current_user && (creator_mode || attending) %>
    <div class="chat">
      <div id="message-display">
        <% @messages.each do |message| %>
          <div class="message">
              <%= message.username %>: <%= message.body %>
          </div>
        <% end %>
      </div>
      <div id="message-form">
        <%= form_with model: [@adventure, @message] do |f| %>
          <div class="field has-addons">
            <div class="control">
              <%= f.text_field :body, id: 'message-input', class: 'input' %>
            </div>
            <div class="control">
              <%= f.submit 'Send Message', class: 'button is-primary' %>
            </div>
          </div>
        <% end %>
      </div>
      <% if @message.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
          <ul>
            <% @message.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>