<div class="Show Character">
  <h2> <%= @character.name %> </h2>
  <%= render 'shared/ruleset_image', image_size: "400x200", character: @character %>
  <h3>A level <%= @character.level %> <%= @character.gender %> <%= @character.race %> <%= @character.character_class %> </h3>
  <p> <%= @character.backstory %>

  <h2>Adventures</h2>
  <ul>
  <% @character.attended_adventures.order(date: :desc).each do |adventure| %>
    <li> <%= adventure.name %> on <%= adventure.date %>
  <% end %>
  </ul>
</div>