<div class="user user-login user-devise">
  <div class="main-title">Log In</div>

  <div class="ridge-border form-div">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-item">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-item">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-item">
          <%= f.check_box :remember_me, class: "form-control form-check-box" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <%= f.submit "LOG IN", class: "btn small-btn" %>
    <% end %>
  </div>

  <div class="devise-actions">
    <%= button_to "SIGN UP", new_user_registration_path, method: :get, class: "btn smaller-btn" %>
    <%= button_to "FORGOT PASSWORD", new_user_password_path, method: :get, class: "btn smaller-btn" %>
  </div>
  
  <div class="error-messages">
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
  </div>
</div>
