<!DOCTYPE html>
<html>
  <head>
    <title>TableTop Tavern</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('T3Logo_bright.jpeg') %>
  </head>

  <body>
    <%= render "shared/topbar" %>
    <%= yield %>
  </body>
</html>
